html,
body {
  padding: 0;
  margin: 0;
  font-family: "IRANSans", sans-serif;
  background-color: #0e0e0e;
  color: #fff;
  overflow: hidden;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
.fp-watermark {
  display: none !important;
}
.section.custom-section {
  height: 100vh !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}
ul{
  display: none;
}
